/* font circular std */
@font-face {
  font-family: "Circular Std";
  src: url("font/CircularStd-Medium.woff2") format("woff2"),
    url("font/CircularStd-Medium.woff") format("woff");
  font-weight: normal;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  color: #000;
  font-family: Playfair Display;
  font-size: 71px;
  font-style: normal;
  font-weight: 700;
  line-height: 116.901%;
}
h2 {
  color: #000;
  font-family: Playfair Display;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: 65px; /* 118.182% */
}
.counter div h5 {
  color: #000;
  font-family: Circular Std;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 46px;
  font-style: bold;
}

p {
  color: #000;
  font-family: Circular Std;
  font-size: 18px;
  font-style: normal;
  font-weight: 450;
  line-height: 155.556%;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}
section {
  overflow: hidden;
}
/* img{
    width: auto;
    height: auto;
} */

.contain {
  max-width: 1290px;
  width: 100%;

  margin: auto;
  padding: 20px 0;
}
.yellow-btn {
  width: 195px;
  height: 70px;
  border-radius: 4px;
  background: #eabd23;
  color: var(--p-3, #040418);
  font-family: Circular Std;
  font-size: 18px;
  font-style: normal;
  font-weight: 450;
  line-height: 155.556%; /*  */
}
.blue-text {
  color: #5865f2;
  font-family: Circular Std;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 125% */
}
.blue-line {
  width: 100px;
  height: 4px;
  border-radius: 30px;
  background: var(--p-4, #2d4bff);
}
.blue-btn {
  color: #5865f2;
  font-family: Circular Std;
  font-size: 18px;
  font-style: normal;
  font-weight: 450;
  line-height: 28px; /* 155.556% */
  border: none;
  background: white;
}
.card-container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; */
  grid-gap: 30px;
}
.cards {
  padding: 30px;
  /* width: 300px; */
  height: auto;
  border-radius: 8px;
  border: 1px solid #d9d9d9;
  background: #fff;
}
.cards h6 {
  margin-top: 20px;
  margin-bottom: 16px;
  color: #000;
  font-family: Circular Std;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}
cards button {
  margin-top: 20px;
}

/* navbar */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0 !important;
}
.gray-bg {
  background: #f6f5ff;
}
nav ul {
  display: flex;
  align-items: center;
  gap: 40px;
}
nav ul li {
  color: #000;
  font-family: Circular Std;
  font-size: 18px;
  font-style: normal;
  font-weight: 450;
  line-height: 155.556%;
  cursor: pointer;
}
.logo {
  width: 80px;
  height: 83px;
  cursor: pointer;
}
.navbtn {
  border-radius: 4px;
  border: 2px solid #5865f2;
  background: #f4f9ff;
  width: 145px;
  height: 55px;
  color: #5865f2;
}
/* small device nav style */
.offcanvas-body ul {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.offcanvas-body ul li {
  color: #000;
  font-family: Circular Std;
  font-size: 18px;
  font-style: normal;
  font-weight: 450;
  line-height: 155.556%;
  cursor: pointer;
}
.fa-bars {
  font-size: 30px;
}

/* hero */
@media (max-width: 1600px) {
  .hero-right {
    margin-right: -90px;
    width: fit-content;
    overflow: hidden;
  }
}

/* .hero-right img{
  width: auto;
  height: auto;
} */
/* counter */
.vertical-line {
  width: 1px;
  height: 50px;
  background: #bdbdbd;
}
.counter {
  margin-top: 70px;
}
/* Who we work with */
.text-side button {
  margin-top: 30px;
}
.text-side h2 {
  color: var(--p-3, #040418);
  font-family: Playfair Display;
  font-size: 55px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}
/* accordian */
/* Custom CSS for accordion */
.accordion {
  margin-top: 40px !important;
  border: none !important;
  background-color: none !important;
  color: white;
  width: 600px;
}
.accordion-item {
  height: fit-content !important;
  /* margin-top:16px!important; */
  /* padding: 0!important; */
  padding-right: 0 !important;
  padding-bottom: 0 !important;
  border-radius: 6px !important;
  border: none !important;
  background: #fff !important;
  box-shadow: 10px 20px 120px 0px rgba(0, 0, 0, 0.06) !important;
}

.accordion-button {
  outline: none;
  border-radius: 6px !important;
  border: 2px solid #eaf2f9 !important;
  background: #fff !important;
  color: var(--p-3, #040418) !important;
  font-family: Inter !important;
  font-size: 22px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  line-height: normal !important;
  margin: 0 !important;
  box-shadow: none !important;
}

.accordion-button[aria-expanded="true"] {
  background-color: #5764ef !important;
  border: none !important;
  color: white !important;
}

/* Our reasons for choosing us */
.reason {
  margin-top: 130px;
  padding: 108px 0;
}
.reason-card-container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(410px, 1fr));
  grid-gap: 30px;
}
.reason-card {
  /* width: 410px; */
  height: 310px;
  border-radius: 16px;
  background: #fff;
  padding: 24px;
}
.reason-card h6 {
  color: #000;
  font-family: Circular Std;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}
.reason-card small {
  margin-top: 16px;
  color: var(--p-3, #040418);
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 180% */
}
.reason-card h6 {
  margin-top: 24px;
}

/* get-update */

.get-update .contain {
  padding-top: 130px;
  padding-bottom: 150px;
  /* background: red; */
}

.get-top-title {
  color: #5865f2;
  font-family: Circular Std;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 125% */
  margin-bottom: 10px;
}
/* .get-top-line {
  width: 100px;
  height: 4px;
  border-radius: 30px;
  background: #2d4bff;
  margin-bottom: 10px;
} */
.get-update-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.get-update-title {
  color: #000;
  font-family: Playfair Display;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: 65px; /* 118.182% */
  text-transform: capitalize;
}

.get-update .card {
  border-radius: 16px;
  background: #fff;
  border: none;

  /* S/2 */
  box-shadow: 0px 20px 120px 0px rgba(13, 0, 77, 0.1);
}
.get-update .card {
  padding: 10px;
}
.get-update .card .card-body {
  padding: 20px;
}
.user-date {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user {
  display: flex;
  align-items: baseline;
  gap: 8px;
}
.user p,
.date p {
  color: #858585;
  font-family: Circular Std;
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
  line-height: normal;
}
.date {
  display: flex;
  align-items: baseline;
  gap: 18px;
}
.card-line {
  background: #bfbfbf;
  height: 1px;
}
.card-title {
  margin-top: 15px;
  margin-bottom: 10px;
  color: var(--design-color-s-3-text-black, #0f0f0f);
  font-family: Circular Std;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 38px; /* 158.333% */
}
.card-desc {
  color: var(--p-3, #404040);
  font-family: Circular Std;
  font-size: 18px;
  font-style: normal;
  font-weight: 450;
  line-height: 28px; /* 155.556% */
}
.card a {
  text-decoration: none;
  color: #5865f2;
  font-family: Circular Std;
  font-size: 18px;
  font-style: normal;
  font-weight: 450;
  line-height: 28px; /* 155.556% */
  display: flex;
  align-items: baseline;
}
.card a svg {
  margin-left: 10px;
}

/* let-tax-area */
.let-terataxa-area {
  margin-top: -530px;
  margin-bottom: 59px;
}
.let-teratax-area-container {
  border-radius: 20px;

  background: #5865f2;
  padding: 39px 65px 48px 110px;
}

.let-teratax-title {
  color: #fff;
  text-align: center;
  font-family: Playfair Display;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 125% */
}

.let-teratax-desc {
  color: #fff;
  text-align: center;
  font-family: Circular Std;
  font-size: 14px;
  font-style: normal;
  font-weight: 450;
  line-height: 24px; /* 171.429% */
  margin-top: 16px;
}
.let-terataxa-area-img {
  display: none;
}

@media (min-width: 1200px) {
  .let-teratax-title {
    text-align: left;
    margin-top: 30px;
    font-size: 55px;
    line-height: 65px;
    width: 80%;
  }
  .let-teratax-desc {
    text-align: left;
    font-size: 24px;
    line-height: 34px;
    width: 70%;
  }
  .let-terataxa-area-img {
    display: block;
  }
}

/* footer */

footer {
  background: #040418;
  padding: 214px 24px 25px 24px;

  margin-top: 220px;
}

@media (min-width: 1024px) {
  footer {
    padding: 289px 0 20px 0;
  }
}

footer ul {
  list-style: none;
}

footer li {
  list-style: none;
}

footer a {
  text-decoration: none;
  color: #fff;
  font-family: "Circular Std";
  font-size: 18px;
  font-style: normal;
  font-weight: 450;
  line-height: 28px;
  /* 155.556% */
  margin: 0;
  padding: 0;
}

.footer-logo {
  text-align: center;
}

.follow-us {
  color: #fff;
  font-family: Circular Std;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 34px;
  /* 170% */
  text-transform: uppercase;
  margin-top: 30px;
}

footer .social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-bottom: 50px;
}

@media (min-width: 1024px) {
  .footer-logo {
    text-align: left;
  }

  .follow-us {
    margin-top: 65px;
  }

  footer .social-icons {
    justify-content: start;
  }
}

footer .accordion {
  --bs-accordion-border-color: none;
  --bs-accordion-btn-focus-box-shadow: none;
  margin-bottom: 16px;
}

@media (min-width: 1024px) {
  footer .accordion {
    display: none;
  }
}

footer .accordion-item {
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.15);
}

footer .accordion-body {
  background: rgba(255, 255, 255, 0.15);
  color: rgba(255, 255, 255, 0.6);
  font-family: Circular Std;
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
  line-height: 26px;
  padding: 0;

  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 0 0 6px 6px;
}

.footer .accordion-body ul li {
  margin-bottom: 5px;
}

footer .accordion-button {
  background: rgba(255, 255, 255, 0.15);
  color: #fff;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  border: none;
  outline: none;
  box-shadow: none;
}

footer .accordion-button:focus {
  border: none !important;
  outline: none;
}

footer .accordion-button:not(.collapsed) {
  border: none !important;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: none;
  color: #fff;
}

footer .accordion-button.collapsed {
  border-radius: 6px;
}

footer .accordion-button::after {
  background-image: url(/Image/footer/navigation.png);
}

footer .accordion-button:not(.collapsed)::after {
  background-image: url(/Image/footer/navigation.png);
  --bs-accordion-btn-icon-transform: rotate(90deg);
}

.footer-title {
  color: #fff;
  font-family: Circular Std;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 34px;
  /* 154.545% */
  text-transform: uppercase;
  margin-bottom: 26px;
}

footer .footer-menu {
  padding: 0;
}

footer .footer-menu li {
  margin-bottom: 20px;
}

.footer-line {
  height: 1px;
  background: rgba(255, 255, 255, 0.33);
  margin-top: 50px;
  margin-bottom: 20px;
}

.copyright {
  color: #fff;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  /* 157.143% */
}

@media (min-width: 1200px) {
  .services {
    width: 70%;
  }
}
